{% extends 'base.html' %} 
{% block profile %}
<li class="nav-item">
  <a class="nav-link" href="/logout">Logout</a>
</li>
{% endblock profile %}
{% block body %}

<div class="container">
  <table>
    <thead>
      <tr>
        <td>S.No.</td>
        <td>name</td>
        <td>price</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{products.index(product)+1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.rateperunit}}</td>
        <td>
          <a href="/editproduct/{{product.id}}" class="btn btn-sm btn-primary">Update</a>
          <a href="/deleteproduct/{{product.id}}" class="btn btn-sm btn-danger">Deleted</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
