body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
}

.logo img {
    height: 40px;
    /* Adjust the height as needed */
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 6px;
    margin-right: 10px;
}

.search-bar button {
    padding: 6px 12px;
    background-color: #555;
    border: none;
    color: #fff;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links h5,
.nav-links p,
.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    /* Add this line */
}

.nav-links h5:hover {
    background-color: #555;
}